{% extends generic_layout %}

{% block head_title %}A Propos{% endblock %}
{% block main_title %}A propos{% endblock %}

{% block main_content %}
	<p class="center"><img src="{{ app.request.basepath }}/photo/about-Sandro_Botticelli_-_La_nascita_di_Venere.jpg" alt="" /></p>
	<div>
		<p>Poéticus a été fondé en 2014. Son but ? Rassembler, au sein d’un seul site Internet, la totalité des plus beaux poèmes francophones qui n’ont jamais été écrits tout au long de l’histoire.</p> 

		<h2>Mobilité et compatibilité</h2>
		<p>Le site a été spécialement conçu pour être compatible avec tous les types d’appareils mobiles ainsi qu’avec la grande majorité des navigateurs Internet récents.</p>
		
		<h2>Développement</h2>
		<p>Pour assurer le développement pérenne du site web, nous avons fait appel à divers langages de programmation et autres librairies :</p>
		<ul>
			<li><abbr title="Hypertext Markup Language">HTML5</abbr></li>
			<li><abbr title="Cascading Style Sheets">CSS3</abbr></li>
			<li>Javascript (JQuery)</li>
			<li><abbr title="PHP: Hypertext Preprocessor">PHP 5</abbr></li>
			<li>Twig (moteur de template)</li>
		</ul>

		<p>Pour assurer la cohérence ainsi que la cohésion du code source, nous avons utilisé le micro framework MVC de la société SensioLabs, <a href="http://silex.sensiolabs.org/" alt="Sensio Labs" target="_blank">Silex</a>.</p>
		<p class="center">{{ "photo/silex-logo-about.jpg"|max_size_image(app.request.basepath) }}</p>
	</div>
{% endblock %}