{% extends generic_layout %}

{% block head_title %}Cookie{% endblock %}
{% block main_title %}Cookie{% endblock %}

{% block main_content %}
	<p class="center"><img src="{{ app.request.basepath }}/photo/cookie-infos.jpg" alt="" /></p>
	<div>
		<p><span class="bold">Poéticus</span> utilise essentiellement les cookies fournies par les services Google Analytics et Google AdSense :</p>

		<ul>
			<li><span class="underline">Google Analytics</span> est un service qui permet d'analyser l'audience de notre site Internet afin de toujours vous proposer un contenu qui répond à vos attentes.</li>
			<li><span class="underline">Google AdSense</span> est la régie publicitaire de Google. Ce service permet à notre site Internet de financer les serveurs qui l'accueillent ainsi que les développements futurs.</li>
		</ul>

		<p>Si vous souhaitez en savoir davantage, vous pouvez consulter la page <a href="http://www.google.com/intl/fr/policies/privacy/partners/" target="_blank">Comment Google utilise certaines données collectées lorsque vous utilisez des sites ou applications de nos partenaires</a>.</p>
	</div>
{% endblock %}