<table id="poem_statistics">
	<tbody>
		<tr>
			<td><span class="bold">Nombre de poésies publiées</span></td><td>{{ statistics["count_poem"] }}</td>
		</tr>
		<tr>
			<td><span class="bold">Nombre d'auteurs</span></td><td>{{ statistics["count_biography"] }}</td>
		</tr>
		<tr>
			<td><span class="bold">Nombre de recueils</span></td><td>{{ statistics["count_collection"] }}</td>
		</tr>
	</tbody>
</table>